<!-- Banner -->
<span>
    <img width="101.2%" height="100%" src="https://sun9-10.userapi.com/c858336/v858336274/8c756/zivcyayOLDQ.jpg"
      class="banner">
</span>
 
<!-- Body -->
<div class="content" role="main">
    <div class="d7">
        <form>
            <input type="text" placeholder="Искать здесь..." name="search_name" [(ngModel)]="search_name">
            <button type="submit" (click)="search(search_name)"></button>
        </form>
    </div>

    <table>
        <tr>
            <td>
                <p> Название </p>
            </td>
            <td>
                <p> Тип </p>
            </td>
            <td>
                <p>Состав </p>
            </td>
            <td>
                <p> Вес </p>
            </td>
            <td>
                <p> Цена </p>
            </td>
        </tr>
        <tr *ngFor="let search_object of search_objects">
            
            <td>
                <p>{{search_object["naming"]}}</p>
            <td>
                <p> {{search_object["type_product"]}}</p>
            </td>
            <td>
                <p> {{search_object["composition"]}}</p>
            </td>
            <td>
                <p> {{search_object["weight"]}}</p>
            </td>
            <td>
                <p> {{search_object["cost"]}}</p>
            </td>
        </tr>
    </table>

    <!-- Resources -->
    <div class="cardReg" class="card-container">
        <h2>Создайте свой аккаунт прямо сейчас! Или войдите в систему, если уже существуете!</h2>
        <a class="knopka" id="Login" routerLink="/login">
            <h2>Войти</h2>
        </a>
        <a class="knopka" routerLink="/registration">
            <h2>Регистрация</h2>
        </a>
        <a class="knopka" id="Exit" (click)="exit()">
            <h2>Выйти</h2>
        </a>
    </div>

    <!-- Category -->
    <p>Выберите категорию</p>
    <div class="card" class="card-container">

        <a class="card" href="https://www.sushibank.ru/catalog/rolly/#klassicheskie">
            <img src="https://sun9-56.userapi.com/c858336/v858336716/89b3f/rXsEf40wcX8.jpg" />
        </a>

        <a class="card" href="https://www.sushibank.ru/catalog/sety/">
            <img src="https://sun9-54.userapi.com/c858336/v858336716/89b46/qq7Xtf4fAms.jpg" />
        </a>

        <a class="card" href="https://www.sushibank.ru/catalog/sushi/">
            <img src="https://sun9-24.userapi.com/c858336/v858336716/89b4d/nW0aNlX7_5I.jpg" />
        </a>

        <a class="card" href="https://www.sushibank.ru/catalog/voki/">
            <img src="https://sun9-66.userapi.com/c858336/v858336716/89b54/tqofiISl_k4.jpg" />
        </a>
    </div>

    <nav>
        <a routerLink="/list">
            <h2>Полный список</h2>
        </a>
    </nav>
    <nav>
        <a routerLink="/adminka">
            <h2>Админка</h2>
        </a>
    </nav>
    <nav>
        <a routerLink="/fileStore">
            <h2>Хранение файлов</h2>
        </a>
    </nav>
    <input type="hidden" #selection>
</div>

<!-- Footer -->
<footer>
    <div id="footer">
        <h2>© 2019 SushiSakura&nbsp;</h2>>
    </div>
</footer>